

  <div id="navi" class="container">
	<nav id="nav" class="navbar navbar-light flex-md-column">
		
	  

	    <ul class="navbar-nav flex-column mr-auto mt-2 mt-lg-0"">
	      <li class="nav-item">
	       <a class="nav-link" <%= link_to "Home", root_path %></a> 
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'About Us', about_path %></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Our Dogs', ourdogs_path %> </a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Pug Information', puginfo_path %></a>
	      </li>

	      <li class="nav-item">
	        <a class="nav-link" <%=link_to 'Contact Us', contact_path %></a>
	      </li>

	    </ul>
	  

	</nav>
  </div>
